header.header
	.header__left
		a.mnu__btn(href="")
			i.fa.fa-bars
			| Меню
	a.logo(href="#top") Zov | Kargo
	ul.header__right.company__info-list
		li.company__phone.company__info-item 
			a.info__btn(href="tel: +8618688848498") 186 8884 8498
		li.company__mail.company__info-item 
			a.info__btn(href="to: zov-kargo@mail.ru") zor-kargo@mail.ru
		li.ask__question.company__info-item
			a.ask__question-btn(href="") Задать вопрос
nav.mnu__cover
	a.close__mnu(href="")
		i.fa.fa-close
	ul.mnu__list
		li.mnu__item
			a.mnu__link(href="#second") Услуги
		li.mnu__item
			a.mnu__link(href="#third") Услуги
		li.mnu__item
			a.mnu__link(href="#fourth") Услуги
		li.mnu__item
			a.mnu__link(href="#fifth") Услуги
