section.section.fifth#fifth
	.fifth__bg
	.section__top
		h2.section__title Наши клиенты
	.fifth__main.container
		ul.fifth__list
			li.fifth__item
			li.fifth__item
			li.fifth__item
			li.fifth__item
			li.fifth__item
			li.fifth__item
			li.fifth__item
			li.fifth__item