section.section.fourth#fourth
	.section__top
		h2.section__title Команда
		h3.long__title 
			span Молодые специалисты, свободно владеем китайским языком,
			span понимаем нюансы международного бизнеса. Мы можем еще много сказать,
			span но, пожалуй, лучше покажем это в работе.
	.fourth__main.container