section.second.section#second
	.section__top
		h2.section__title Услуги
		h3.long__title 
			span Все услуги сервиса делятся на четыре основных подразделения
			span Добро пожаловать в Китай!
	.second__main
		ul.second__list
			li.second__item
				.second__icon
					img.plane(src="assets/img/main/plane-icon.png")
				h3.second__title Авиа Доставка из Китая
				.second__descr Доставка до дверей вашего дома!
			li.second__item
				.second__icon
					i.fa.fa-book.book
				h3.second__title Консалтинг и аудит
				.second__descr Доставка до дверей вашего дома!
			li.second__item
				.second__icon
					i.fa.fa-search.search
				h3.second__title Проверка поставки и тд
				.second__descr Доставка до дверей вашего дома!
			li.second__item
				.second__icon
					i.fa.fa-group.group
				h3.second__title Помощь в поиске товаров
				.second__descr Доставка до дверей вашего дома!