section.section.sixth#sixth
	.section__top
		h2.section__title Контакты
		h3.long__title 
			span Мы находимся в Гуанчжоу, мировом центре производства
			span и торговли, а также в Москве, Хабаровске и Владивостоке.
			span Выберите место, где вам будет удобно провести переговоры,
			span или просто напишите нам. 
	.sixth__main
		.container
			form.form
				ul.form__list
					li.form__item
						input.form__input(type="text" placeholder="Ваше имя и фамилия")
					li.form__item
						input.form__input(type="text" placeholder="Ваш телефон")
					li.form__item
						input.form__input(type="email" placeholder="Email")
					li.form__item
						textarea.form__textarea(placeholder="Текст...")