section.section.third#third
	.section__top
		h2.section__title Преимущества
		h3.long__title 
			span Наш опыт и репутация — это самое главное, но есть еще
			span несколько очень важных моментов:
	.third__main.container
		ul.third__list
			li.third__item
				.third__inner-block
					span.third__text Четкие сроки доставки до ваших дверей
				img(src="")
			li.third__item
				.third__inner-block
					span.third__text Комплексное обслуживание
				img(src="")
			li.third__item
				.third__inner-block
					span.third__text Оплата при получении
				img(src="")
			li.third__item
				.third__inner-block
					span.third__text Прямой выход на заводы производителей
				img(src="")
			li.third__item
				.third__inner-block
					span.third__text Собственные складские комплексы
				img(src="")
			li.third__item
				.third__inner-block
					span.third__text Юридическая безопасность
				img(src="")