extends ../_template

block variables
  - var title = 'Zov | Kargo'

block content
  .wrapper
    include ../common/_header
    include ../common/first_section
    include ../common/second_section
    include ../common/third_section
    include ../common/fourth_section
    include ../common/fifth_section
    include ../common/sixth_section
  include ../common/_footer